<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{ contact.name }}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
    <ion-item *ngFor="let chit of currentChat" >
        <div *ngIf="chit.user == 'currentUser'" slot="end" class="chat-currentUser">
          <span>{{ chit.user }}: {{ chit.message }}</span>
        </div>
        <div *ngIf="chit.user == 'user'" slot="start" class="chat-user">
            <span>{{ chit.user }}: {{ chit.message }}</span>
        </div>
    </ion-item>
</ion-content>

<ion-footer no-border>
  <ion-toolbar color="light">
    <ion-grid>
      <ion-row>
        <ion-col size="10"
          ><ion-input [(ngModel)]="message" type="text" autofocus></ion-input
        ></ion-col>
        <ion-col>
          <ion-fab>
            <ion-fab-button (click)="chat()" mini color="warning">
              <ion-icon name="send"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
