<ion-content>
  <ion-text text-center color="light">
    <h1 class="login-title">Welcome to Mavis!</h1>
  </ion-text>
  <!-- <ion-img padding class="login-logo" src="../../../assets/logo-final.png"></ion-img> -->
  <ion-img padding class="login-logo" src="../../../assets/logo.png"></ion-img>
  <ion-text padding text-center color="light">
    <h3>contact and chat with people</h3>
  </ion-text>
  <div text-center align-items-center>
    <ion-button padding size="large" color="warning" (click)='loginWithFacebook()'>Login With Facebook</ion-button>
  </div>
</ion-content>